
.upcoming {
    margin-top: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upcoming-paragraph {
    max-width: 32rem;
    margin: 2rem 0;
}

.upcoming {
    background-image: linear-gradient(
            to right,
            rgba(245, 245, 255, 0.9),
            rgba(245, 245, 255, 0.8),
            rgba(245, 245, 255, 1),
            rgba(245, 245, 255, 1)

    ),
    url('../../assets/images/wp8172984.jpg');
}


.upcoming-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 0;
}

@media only screen and (min-width: 800px) {

    .upcoming {
        background-image: linear-gradient(
                to right,
                rgba(245, 245, 255, 0.2),
                rgba(245, 245, 255, 0),
                rgba(245, 245, 255, 1),
                rgba(245, 245, 255, 1)
        ),
        url('../../assets/images/wp8172984.jpg');
        padding-right: 20rem;
    }

    .upcoming-container {
        align-items: flex-end;
        text-align: right;
    }
}

@media only screen and (min-width: 1600px) {
    .upcoming {
        background-position: top;
        padding-right: 20rem;
    }
}