
.trending {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending-paragraph {
    max-width: 32rem;
    margin: 2rem 0;
}

.trending {
    background-image: linear-gradient(
            to right,
            rgba(245, 245, 255, 1),
            rgba(245, 245, 255, 1),
            rgba(245, 245, 255, 0.9),
            rgba(245, 245, 255, 0.8)
    ),
    url('../../assets/images/A-Plague-Tale-Requiem-cover.jpg');
}


.trending-container {
    height: 100%;
    width: 100%;
    padding-left: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (min-width: 800px) {

    .trending {
        background-image: linear-gradient(
                to right,
                rgba(245, 245, 255, 1),
                rgba(245, 245, 255, 1),
                rgba(245, 245, 255, 0.2),
                rgba(245, 245, 255, 0)
        ),
        url('../../assets/images/A-Plague-Tale-Requiem-cover.jpg');
    }

    .trending-container {
        align-items: flex-start;
        text-align: left;
    }
}

@media only screen and (min-width: 1600px) {
    .trending {
        background-position: top;
    }
}