.page-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 72px;
    background: linear-gradient(to right, #151515 0%, #ed474a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 7rem;
}

.game-card {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}